/*MOBILE*/
:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}

body {
  margin: 0;
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  color: var(--very-dark-gray);
}

/* NAVBAR */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 10;
  box-sizing: border-box;
}

.hamburger-btn {
  width: 30px;
  height: 30px;
  background-image: url(../images/hamburger.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.navbar {
  position: absolute;
  top: -60px;
  left: 0;
  background-color: var(--white);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: transform 300ms ease-in;
}

.logo {
  width: 80px;
  height: auto;
  margin-left: 32px;
  object-fit: contain;
  transform: translateX(100%);
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
  font-size: 1.5em;
  text-transform: lowercase;
}

.close-icon {
  width: 25px;
  height: 25px;
  background-image: url(../images/icon-close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 1rem;
}

.is-open {
  transform: translateY(60px);
}

/* GRID PRINCIPAL */
.hero-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
}


/* HERO MOBILE IMAGE */

.hero-img {
  background: url("../images/mobile-image-hero-1.jpg") center/cover no-repeat;
  height: 450px;
}

.hero-text {
  position: relative;
  padding: 30px;
}

.hero-text h1 {
  font-size: 48px;
  line-height: 1.1;
  color: var(--black);
}

.hero-text p {
  line-height: 1.4;
  font-size: 16px;
  color: var(--dark-gray);
}

.btn-shop {
  text-align: left;
  margin-top: 20px;
  border: none;
  background-color: transparent;
  color: var(--black);
  padding: 0px;
  letter-spacing: 12px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
}


.arrows {
  margin-top: 20px;
  display: flex;
}

.arrows button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 2em;
}


.about-img-dark {
  background: url("../images/image-about-dark.jpg") center/cover no-repeat;
  height: 250px;
}

.about-text {
    text-align: start;
    padding: 30px;  
    
  }

.about-text p {
  line-height: 1.4;
  font-size: 16px;
  color: var(--dark-gray);
}

.about-img-light {
  background: url("../images/image-about-light.jpg") center/cover no-repeat;
  height: 250px;
}

.about-text h2 {
  font-size: 1.4em;
  padding-left: 10px;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.about-text p {
  padding: 13px;
  line-height: 1.4;
  font-size: 1.4em; 
}


/* DESKTOP */
@media (min-width: 900px) {
  .hamburger-btn {
    display: none;
  }
  .header {
    gap: 30px;
  }

  .logo{
    height: 15px;
    margin-left: 10px;
    transform: translateX(0);

  }

  .hero-grid {
    display: grid;
    grid-template-areas:
      "hero-img hero-img hero-text hero-text"
      "about-img-dark about-text about-text about-img-light";
    grid-template-columns: 2.1fr 2.1fr 0.8fr 2.1fr; 
    grid-template-rows: 70vh 240px;
    height: auto;
  }

  .hero-img {
    background: url("../images/desktop-image-hero-1.jpg") center/cover no-repeat;
    grid-area: hero-img;
    height: 70vh;
  }

  .hero-text {
    font-size: 10px;
    grid-area: hero-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
    position: relative;
  }

  .hero-text h1 {
    margin-bottom: 3px;
    font-size: 40px;
    line-height: 1;
    color: var(--black);
  }

  .hero-text p {
    margin-bottom: 3px;
    line-height: 1.2;
    font-size: 16px;
    color: var(--dark-gray);
  } 
  
  .btn-shop {
    display: inline-flex;
    align-items: center;
    margin-top: 3px;
    border: none;
    background-color: transparent;
    color: var(--black);
    padding: 0;
    padding-right: 15px; 
    letter-spacing: 12px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1em;
  }

  .arrows {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
  }

  .arrows button {
    width: 76px;
    height: 70px;
  }

  .about-img-dark {
    grid-area: about-img-dark;
    height: 100%;
  }

  .about-text {
    padding-top: 50px;
    text-align: left;
    width: 125%; 
    padding-inline: 40px;
  }


  .about-text h2 {
    padding-left: 10px;
    margin-bottom: 1px;
    text-align: start;
    font-size: 1.3em;
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 8px;
  }
  
  .about-text p {
    margin-top: 0px;
    font-size: 1.3em;
    color: var(--dark-gray);
  }
  

  .about-img-light {
    grid-area: about-img-light;
    height: 100%;
    
  }

  .close-icon {
    display: none;
  }

  .navbar {
    position: relative;
    top: 0;
    background-color: transparent;
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .nav-links a {
    color: var(--white);
  }

  
}
