:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}

body {
  margin: 0;
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  color: var(--very-dark-gray);
}

/* NAVBAR */
.header {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hamburger-btn {
  width: 30px;
  height: 30px;
  background-image: url(../images/hamburger.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.navbar {
  position: absolute;
  top: -60px;
  left: 0;
  background-color: var(--dark-gray);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: transform 300ms ease-in;
  border: 2px solid red;
}

.logo {
  width: 80px;
  height: auto;
  object-fit: contain;
  transform: translateX(100%);
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
  font-size: 1.5em;
  text-transform: lowercase;
}

.close-icon {
  width: 25px;
  height: 25px;
  background-image: url(../images/icon-close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 1rem;
}

.is-open {
  transform: translateY(60px);
}

/* HERO */
.hero {
  display: grid;
  position: relative;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 80px;
  grid-template-areas:
    "left right"
    "left arrows";
  height: 100vh;
}

/* ZONA IZQUIERDA = CARRUSEL */
.left {
  grid-area: left;
  position: relative;
  overflow: hidden;
}

/* IMÁGENES DEL CARRUSEL */
.carousel-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.carousel-img.active {
  opacity: 1;
}

/* DERECHA */
.right {
  grid-area: right;
  padding: 30px;
}

.right h1 {
  font-size: 4em;
  color: var(--black);
}

.right p {
  line-height: 1.4;
  font-size: 1.5em;
  color: var(--dark-gray);
}

.btn-shop {
  margin-top: 20px;
  background: transparent;
  color: var(--black);
  letter-spacing: 12px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0;
}

/* FLECHAS */
.arrows {
  grid-area: arrows;
  display: flex;
  z-index: 10;
}

.arrows button {
  background: #000;
  color: #fff;
  border: none;
  padding: 20px 25px;
  font-size: 22px;
  cursor: pointer;
}
/* ABOUT */
.about {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  height: auto;
  min-height: 350px;
}

.about-left {
  background: url("../images/image-about-dark.jpg");
}

.about-text {
  padding: 40px;
}

.about-right {
  background: url("../images/image-about-light.jpg");
}
.about-left,
.about-right {
  background-size: cover;
  background-position: center;
}
/* .about-left {
  background: url('./images/image-about-dark.jpg') center/cover no-repeat;
} */

/* .about-text {
  padding: 40px;
} */

/* .about-right {
  background: url('./images/image-about-light.jpg') center/cover no-repeat;
} */

.about-text h2 {
  font-size: 2em;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 8px;
}

.about-text p {
  line-height: 1.4;
  font-size: 1.5em;
}

/* DESKTOP */
@media (min-width: 900px) {
  .hamburger-btn {
    display: none;
  }
  .header {
    gap: 30px;
  }

  .logo {
    transform: translateX(0);
  }

  /*   .hero-grid {
    display: grid;
    grid-template-areas:
      "hero-img hero-img hero-text hero-text"
      "about-img-dark about-text about-text about-img-light";
    grid-template-columns: 1fr 2fr 1fr 1fr; /* 4 columnas iguales 
    grid-template-rows: auto auto;
    height: 100vh;
  }

  .hero-img {
    grid-area: hero-img;
    height: 100%;
    min-height: 400px;
    height: 70vh;
  }

  .hero-text {
    grid-area: hero-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    position: relative;
  }

  .arrows {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .arrows button {
    width: 100px;
    height: 100px;
  }
 */
  /*   .about-img-dark {
    grid-area: about-img-dark;
    height: 100%;
    min-height: 300px;
  }

  .about-text {
    grid-area: about-text;
    padding: 60px;
  }

  .about-img-light {
    grid-area: about-img-light;
    height: 100%;
    min-height: 300px;
  }
 */
  .close-icon {
    display: none;
  }

  .navbar {
    position: relative;
    top: 0;
    background-color: transparent;
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .nav-links a {
    color: var(--white);
  }
}
