/*MOBILE*/
:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}

body {
  margin: 0;
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  color: var(--very-dark-gray);
}
/* mobile */
/* NAVBAR */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 10;
  box-sizing: border-box;
}

.hamburger-btn {
  width: 30px;
  height: 30px;
  background-image: url(../images/hamburger.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.navbar {
  position: absolute;
  top: -60px;
  left: 0;
  background-color: var(--white);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: transform 300ms ease-in;
}

.logo {
  width: 80px;
  height: auto;
  margin-left: 32px;
  object-fit: contain;
  transform: translateX(100%);
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
  font-size: 1.5em;
  text-transform: lowercase;
}

.close-icon {
  width: 25px;
  height: 25px;
  background-image: url(../images/icon-close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 1rem;
}

.is-open {
  transform: translateY(60px);
}

/* GRID PRINCIPAL */
.hero-img {
  position: relative;
  height: 450px;
  overflow: hidden;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.carousel-img.active {
  display: block;
}

.arrows-hero button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 2em;
}


/* ------------------------------ */
/*             HERO TEXT          */
/* ------------------------------ */
.arrows-hero {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 20;
}
.arrows-text{
  display: none;
}
.hero-text {
  position: relative;
  padding: 30px;
}

.hero-text h1 {
  font-size: 48px;
  line-height: 1.1;
  color: var(--black);
}

.hero-text p {
  margin-top: 15px;
  line-height: 1.4;
  font-size: 16px;
  color: var(--dark-gray);
}

.btn-shop {
  margin-top: 20px;
  border: none;
  background: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 10px;
  cursor: pointer;
  padding: 0;
  color: var(--black);
}

/* ------------------------------ */
/*            ABOUT               */
/* ------------------------------ */

.about-img-dark {
  background: url("../images/image-about-dark.jpg") center/cover no-repeat;
  height: 250px;
}

.about-img-light {
  background: url("../images/image-about-light.jpg") center/cover no-repeat;
  height: 250px;
}

.about-text {
  text-align: start;
  padding: 30px;
}

.about-text h2 {
  font-size: 1.4em;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.about-text p {
  margin-top: 10px;
  line-height: 1.4;
  font-size: 1.1em;
  color: var(--dark-gray);
}


/* DESKTOP */
@media (min-width: 900px) {

  .hero-grid {
    display: grid;
    grid-template-areas:
      "hero-img hero-img hero-text hero-text"
      "about-img-dark about-text about-text about-img-light";
    grid-template-columns: 2fr 2fr 1.2fr 2fr;
    grid-template-rows: 70vh 240px;
  }

  .hero-img {
    grid-area: hero-img;
    height: 70vh;
  }

  .hero-text {
    grid-area: hero-text;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text {
    margin-top: -20px;
  }
  .arrows-text {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .arrows-text button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: var(--black);
    cursor: pointer;
    font-size: 2em;
  }

  .arrows-hero {
    display: none !important;
  }

  .hero-text h1 {
    font-size: 40px;
    line-height: 1.1;
  }

  .hero-text p {
    font-size: 16px;
    width: 90%;
  }

  .btn-shop {
    margin-top: 20px;
  }

  .about-img-dark {
    grid-area: about-img-dark;
  }

  .about-img-light {
    grid-area: about-img-light;
  }

  .about-text {
    grid-area: about-text;
    padding: 60px 40px;
  }
  .hamburger-btn {
    display: none;
  }

  .navbar {
    position: static;
    background: none;
    height: auto;
    transform: none !important;
    display: flex;
    margin-left: 40px;
    color: #fff;
  }

  .nav-links a {
    font-size: 1em;
    color: var(--white);

  }
  .close-icon{
    display: none;
  }
}
